
body {
    min-height: 100vh;
    display: flex;
}

.main {
    margin: auto;
}

.error {
    font-family: monospace;
    color: red;
    text-align: center;
}

#map {
  min-height: 50vh;
  margin: 0;
  padding: 0;
}